*{
    margin: 0;
}
body {
    display:flex;
    flex-direction:column;
    height:100vh;
    background:#fff;
    font-size:24px;
    font-weight:bold;
    justify-content: space-between;
    align-items: stretch;
   }
.section {
    position: relative;
    padding-top: 0;
    margin: 15px 0;
    height: auto;
    background-color: transparent;
}
.container {
    padding: 15px;
    margin-right: auto;
    margin-left: auto; 
    max-width: 1024px;
    background: #f7f7f7;
}
.mypic {
    position: absolute;
    background: #fff;
    width: 200px;
    height: 200px;
    top: -100px;
    left: 50%;
    margin-left: -90px;
    border: 5px solid #fff;
    border-radius: 50%;
    display: block;
    overflow: hidden;
}
.mypic img {
    width: 250%;
    margin: -40px -110px;
    position: inherit;
}
.card {
    padding: 200px 5%;
}
.list-inline {
    padding: 1em;
   
}

.field{

    background: #7f7b80;
    border:4px;
}
.field-header { height: 35%;
    background-color: rgb(156, 158, 177);
    font-weight: 200;
    padding: 5% 5% 120px 5%;
    text-align: center;
    font-size: 1em;
    color:#fff;
}
.field-footer { height: 25%; 
    background-color: rgb(103, 105, 122);
    font-weight: 50px;
    text-align: center;
    font-size: 0.5em;
    color:#fff;
}
.card article:nth-child(2n) {
    margin-left: 40%;
}
.card article {
    width: 60%;
    background: #fff;
    margin: 2em;
    margin-left: 10px;

}

    .asocialpic img {
        width: 25px;
        height: 25px;
    }
    li {
        display: inline-block;
        padding-right: 15px;
        padding-left: 15px;
    }
/*a.instagram {
    background-image:rgb(103, 105, 122);
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
}
/*    .about .img{
border-radius: 50%;
height: 150px;
width: 150px;
vertical-align: middle;
margin-top: -70px;
    }  

.field{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fadbff;
    border:4px solid #c860d6;
}

.item {
    width:100px;
    height: 100px;
    background: #e86afc;
    border: 2px solid #8c1f9e;
    font-size: 36px;
   
}


.chapter-part {

    flex-direction: row;
    display:inline-block
flex-direction: column;

border-bottom: 1px solid #e5e5e5;

}
.chapter-part-col {

    width: 50%;
    padding: 3rem;

}*/